*, *::before, *::after {                         /* For all elements inside the html file (including pseudo elements*/
  box-sizing: border-box;                        /* ... standardize width and heights to conform to box */
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}